# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environments
venv/
env/
ENV/
.venv/
.env.sample/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
pytest_cache/

# MyPy
.mypy_cache/

# PyCharm
.idea/

# VSCode
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# Local env files
.env
